In [103]:
import pandas as pd
import numpy as np
import pyodbc

import matplotlib.pyplot as plt

In [104]:
def dip_sql_connect():
    conn = pyodbc.connect(driver='{SQL Server}',
                          server='dipdevarmsvruw2001.database.windows.net',
                          database='dipdevarmsdbuw2001',
                          uid='arbtest',
                          pwd='L0r3tt414')
   
    return conn

In [105]:
cursor = dip_sql_connect()

query = """
SELECT * FROM TAG_DEPTH
"""

df = pd.read_sql(query, cursor)
df

c:\Users\sahossain\Anaconda3\envs\mlenv\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

,TAG_NAME,DEPTH_EFFECTIVE_DATE,DEPTH_END_DATE,MDKB_DEPTH,TVDSS_DEPTH,INSTRUMENTATION_TYPE,CREATED_DATE
0,M750_P16PTI04900.TEMP,2001-01-01,None,490.0,None,DTS,2021-12-31 15:14:50.870
1,M750_P16PTI04910.TEMP,2001-01-01,None,491.0,None,DTS,2021-12-31 15:14:50.873
2,M750_P16PTI04920.TEMP,2001-01-01,None,492.0,None,DTS,2021-12-31 15:14:50.877
3,M750_P16PTI04930.TEMP,2001-01-01,None,493.0,None,DTS,2021-12-31 15:14:50.880
4,M750_P16PTI04940.TEMP,2001-01-01,None,494.0,None,DTS,2021-12-31 15:14:50.883
...,...,...,...,...,...,...,...
163787,P117_DTS_17P15_01325,2022-07-21,None,1325.0,None,DTS,2023-01-31 17:00:08.380
163788,P117_DTS_17P15_01320,2022-07-21,None,1320.0,None,DTS,2023-01-31 17:00:08.383
163789,P117_DTS_17P15_01315,2022-07-21,None,1315.0,None,DTS,2023-01-31 17:00:08.387
163790,P117_DTS_17P15_01310,2022-07-21,None,1310.0,None,DTS,2023-01-31 17:00:08.390
163791,P117_DTS_17P15_01305,2022-07-21,None,1305.0,None,DTS,2023-01-31 17:00:08.390

In [106]:
df.INSTRUMENTATION_TYPE.unique()
df[df['INSTRUMENTATION_TYPE']=='Thermocouple']

,TAG_NAME,DEPTH_EFFECTIVE_DATE,DEPTH_END_DATE,MDKB_DEPTH,TVDSS_DEPTH,INSTRUMENTATION_TYPE,CREATED_DATE
43680,106TE-80163A,2012-08-02,None,1677.0,None,Thermocouple,2021-10-27 00:29:11.010
43682,106TE-80163B,2012-08-02,None,1527.0,None,Thermocouple,2021-10-27 00:29:11.010
43683,106TE-80163C,2012-08-02,None,1377.0,None,Thermocouple,2021-10-27 00:29:11.010
43690,106TE-80163D,2012-08-02,None,1227.0,None,Thermocouple,2021-10-27 00:29:11.010
43691,106TE-80163E,2012-08-02,None,1077.0,None,Thermocouple,2021-10-27 00:29:11.010
...,...,...,...,...,...,...,...
62281,P9P6B_Point5,2021-01-30,None,1286.9,None,Thermocouple,2021-10-27 00:29:11.010
62282,P9P6B_Point4,2021-01-30,None,1306.9,None,Thermocouple,2021-10-27 00:29:11.010
62283,P9P6B_Point3,2021-01-30,None,1326.9,None,Thermocouple,2021-10-27 00:29:11.010
62284,P9P6B_Point2,2021-01-30,None,1346.9,None,Thermocouple,2021-10-27 00:29:11.010
62285,P9P6B_Point1,2021-01-30,None,1366.9,None,Thermocouple,2021-10-27 00:29:11.010

In [107]:
query2 = """
SELECT TAG_NAME, TAG_EFFECTIVE_DATE FROM TAG_DESCRIPTION
"""

df2 = pd.read_sql(query2, cursor)
df2

c:\Users\sahossain\Anaconda3\envs\mlenv\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

                      TAG_NAME TAG_EFFECTIVE_DATE
0       M04_SGA_PASS1.COND.VAL         2017-01-01
1       M04_SGA_PASS2.COND.VAL         2017-01-01
2       M04_SGA_PASS3.COND.VAL         2017-01-01
3       M04_SGA_PASS4.COND.VAL         2017-01-01
4       M04_SGA_PASS5.COND.VAL         2017-01-01
...                        ...                ...
202986    M00_WBC-56_ERD1_TEMP         2020-05-29
202987   WBC-57_PRESS_PIZO_PT1         2018-03-21
202988    WBC-57_TEMP_PIZO_PT1         2018-03-21
202989         M00_WOB1PI01.PV         2007-03-07
202990         M00_WOB1TI01.PV         2007-03-07

[202991 rows x 2 columns]

In [108]:
depths = pd.read_excel('FB_tag_depths.xlsx',sheet_name='Export')
depthdf = depths[['Tag Name', 'Depth (mKB)', 'Instrumentation Type', 'Well Name', 'Point #']]

In [109]:
depthdf = pd.merge(depthdf, df2, how='left', left_on='Tag Name', right_on='TAG_NAME')

In [110]:
depthdf[depthdf['TAG_NAME'].isnull()].to_csv('unmapped_tags.csv')

In [111]:
li1 = depths['Tag Name']
li2 = df['TAG_NAME']

temp3 = []
for element in li1:
    if element in li2:
        temp3.append(element)

print(temp3)

[]

In [112]:
depthdf = depthdf.dropna(subset=['TAG_NAME'])

In [113]:
depthdf

,Tag Name,Depth (mKB),Instrumentation Type,Well Name,Point #,TAG_NAME,TAG_EFFECTIVE_DATE
0,OBS_100-PI-80018B,252.0,Pressure,7-31-94-5,PiezP1,OBS_100-PI-80018B,2017-05-12
1,OBS_100-TI-80018B,252.0,Temperature,7-31-94-5,PiezT1,OBS_100-TI-80018B,2017-05-12
2,OBS_100-PI-80019B,246.0,Pressure,9-31-94-5,PiezP1,OBS_100-PI-80019B,2017-05-29
3,OBS_100-TI-80019B,246.0,Temperature,9-31-94-5,PiezT1,OBS_100-TI-80019B,2017-05-29
4,OBS_100PI-8121A,334.0,Pressure,DS1,PiezP1,OBS_100PI-8121A,2012-09-21
...,...,...,...,...,...,...,...
8316,OB229_QW16_TEMP_2,189.1,Temperature,QW16,PiezT2,OB229_QW16_TEMP_2,2019-03-22
8333,OBS_100PI-8207A,130.7,Pressure,QW2,PiezP1,OBS_100PI-8207A,2010-01-01
8334,OBS_100TI-8207A,130.7,Temperature,QW2,PiezT1,OBS_100TI-8207A,2010-01-01
8351,OBS_100PI-8208A,145.0,Pressure,QW4,PiezP1,OBS_100PI-8208A,2010-01-01
8352,OBS_100TI-8208A,145.0,Temperature,QW4,PiezT1,OBS_100TI-8208A,2010-01-01

In [114]:
depthdf = depthdf[['TAG_NAME', 'TAG_EFFECTIVE_DATE', 'Depth (mKB)', 'Instrumentation Type', 'Point #']].rename({'TAG_EFFECTIVE_DATE':'DEPTH_EFFECTIVE_DATE', 'Depth (mKB)': 'MDKB_DEPTH', 'Instrumentation Type':'INSTRUMENTATION_TYPE'},axis=1)

In [115]:
for col in depthdf.columns:
    print(depthdf[depthdf[col].isnull()])

Empty DataFrame
Columns: [TAG_NAME, DEPTH_EFFECTIVE_DATE, MDKB_DEPTH, INSTRUMENTATION_TYPE, Point #]
Index: []
Empty DataFrame
Columns: [TAG_NAME, DEPTH_EFFECTIVE_DATE, MDKB_DEPTH, INSTRUMENTATION_TYPE, Point #]
Index: []
             TAG_NAME DEPTH_EFFECTIVE_DATE  MDKB_DEPTH INSTRUMENTATION_TYPE  \
1935  OBS_100PI-8205A           2001-01-01         NaN             Pressure

     Point #
1935  PiezP1
Empty DataFrame
Columns: [TAG_NAME, DEPTH_EFFECTIVE_DATE, MDKB_DEPTH, INSTRUMENTATION_TYPE, Point #]
Index: []
                  TAG_NAME DEPTH_EFFECTIVE_DATE  MDKB_DEPTH  \
2439    OB221_PRESS_ERD_1A           2018-04-14      165.20
2440    OB221_PRESS_ERD_1B           2018-04-14      257.00
2441    OB221_PRESS_ERD_1C           2018-04-14      278.50
2445  OB222_PRESS_PIZO_PT1           2018-03-14      263.65
2447    OB223_PRESS_ERD_1A           2018-04-14      252.00
2448    OB223_PRESS_ERD_1B           2018-04-14      236.00
2451    OB225_PRESS_ERD_1A           2018-03-29      189.00
2452    OB225_PRESS_ERD_1B           2018-03-29      282.00
2453    OB225_PRESS_ERD_1C           2018-03-29      297.00
2457  OB226_PRESS_PIZO_PT1           2018-03-14      271.24

     INSTRUMENTATION_TYPE Point #
2439             Pressure     NaN
2440             Pressure     NaN
2441             Pressure     NaN
2445             Pressure     NaN
2447             Pressure     NaN
2448             Pressure     NaN
2451             Pressure     NaN
2452             Pressure     NaN
2453             Pressure     NaN
2457             Pressure     NaN

In [116]:
depthdf.dropna()

,TAG_NAME,DEPTH_EFFECTIVE_DATE,MDKB_DEPTH,INSTRUMENTATION_TYPE,Point #
0,OBS_100-PI-80018B,2017-05-12,252.0,Pressure,PiezP1
1,OBS_100-TI-80018B,2017-05-12,252.0,Temperature,PiezT1
2,OBS_100-PI-80019B,2017-05-29,246.0,Pressure,PiezP1
3,OBS_100-TI-80019B,2017-05-29,246.0,Temperature,PiezT1
4,OBS_100PI-8121A,2012-09-21,334.0,Pressure,PiezP1
...,...,...,...,...,...
8316,OB229_QW16_TEMP_2,2019-03-22,189.1,Temperature,PiezT2
8333,OBS_100PI-8207A,2010-01-01,130.7,Pressure,PiezP1
8334,OBS_100TI-8207A,2010-01-01,130.7,Temperature,PiezT1
8351,OBS_100PI-8208A,2010-01-01,145.0,Pressure,PiezP1
8352,OBS_100TI-8208A,2010-01-01,145.0,Temperature,PiezT1

In [117]:
depthdf.loc[depthdf['INSTRUMENTATION_TYPE'].str.contains('Temperature', na=False, case=False), 'INSTRUMENTATION_TYPE'] = 'Thermocouple'
depthdf.loc[depthdf['Point #'].str.contains('Piez', na=False, case=False), 'INSTRUMENTATION_TYPE'] = 'Piezometer'
depthdf.loc[depthdf['Point #'].str.contains('PIZO', na=False, case=False), 'INSTRUMENTATION_TYPE'] = 'Piezometer'
depthdf.loc[depthdf['TAG_NAME'].str.contains('PIZO', na=False, case=False), 'INSTRUMENTATION_TYPE'] = 'Piezometer'
depthdf.loc[depthdf['TAG_NAME'].str.contains('PIEZO', na=False, case=False), 'INSTRUMENTATION_TYPE'] = 'Piezometer'

In [118]:
depthdf.head(50)

,TAG_NAME,DEPTH_EFFECTIVE_DATE,MDKB_DEPTH,INSTRUMENTATION_TYPE,Point #
0,OBS_100-PI-80018B,2017-05-12,252.0,Piezometer,PiezP1
1,OBS_100-TI-80018B,2017-05-12,252.0,Piezometer,PiezT1
2,OBS_100-PI-80019B,2017-05-29,246.0,Piezometer,PiezP1
3,OBS_100-TI-80019B,2017-05-29,246.0,Piezometer,PiezT1
4,OBS_100PI-8121A,2012-09-21,334.0,Piezometer,PiezP1
5,OBS_100PI-8121E,2013-07-03,325.0,Piezometer,PiezP2
6,OBS_100PI-8121F,2013-07-03,345.0,Piezometer,PiezP3
7,OBS_100PI-8121B,2012-09-21,158.0,Piezometer,PiezP4
8,OBS_100TI-8121A,2012-09-21,334.0,Piezometer,PiezT1
9,OBS_100TI-8121E,2013-07-03,325.0,Piezometer,PiezT2
10,OBS_100TI-8121F,2013-07-03,345.0,Piezometer,PiezT3
11,OBS_100TI-8121B,2012-09-21,158.0,Piezometer,PiezT4
12,OBS_100PI-8121B,2012-09-21,286.0,Piezometer,PiezP1
13,OBS_100PI-8121C,2012-09-21,289.0,Piezometer,PiezP2
14,OBS_100PI-8121G,2013-07-03,273.1,Piezometer,PiezP3
15,OBS_100TI-8121B,2012-09-21,286.0,Piezometer,PiezT1
16,OBS_100TI-8121C,2012-09-21,289.0,Piezometer,PiezT2
17,OBS_100TI-8121G,2013-07-03,273.1,Piezometer,PiezT3
18,OBS_100PI-8112AU,2012-08-14,212.0,Piezometer,PiezP1
19,OBS_100PI-8112AT,2012-08-14,341.0,Piezometer,PiezP2
20,OBS_100PI-8112AS,2012-08-14,341.0,Piezometer,PiezP3
21,OBS_100PI-8112AR,2012-08-14,368.0,Piezometer,PiezP4
22,OBS_100PI-8112AV,2013-07-03,383.8,Piezometer,PiezP5
23,OBS_100PI-8112AW,2013-07-03,367.4,Piezometer,PiezP6
24,OBS_100TI-8112A,2012-08-14,343.0,Thermocouple,1
25,OBS_100TI-8112J,2012-08-14,322.2,Thermocouple,10
26,OBS_100TI-8112K,2012-08-14,319.6,Thermocouple,11
27,OBS_100TI-8112L,2012-08-14,317.0,Thermocouple,12
28,OBS_100TI-8112M,2012-08-14,314.4,Thermocouple,13
29,OBS_100TI-8112N,2012-08-14,311.8,Thermocouple,14
30,OBS_100TI-8112O,2012-08-14,309.2,Thermocouple,15
31,OBS_100TI-8112P,2012-08-14,306.6,Thermocouple,16
32,OBS_100TI-8112Q,2012-08-14,304.0,Thermocouple,17
33,OBS_100TI-8112R,2012-08-14,301.4,Thermocouple,18
34,OBS_100TI-8112S,2012-08-14,298.8,Thermocouple,19
35,OBS_100TI-8112B,2012-08-14,340.4,Thermocouple,2
36,OBS_100TI-8112T,2012-08-14,296.2,Thermocouple,20
37,OBS_100TI-8112U,2012-08-14,293.6,Thermocouple,21
38,OBS_100TI-8112V,2012-08-14,291.0,Thermocouple,22
39,OBS_100TI-8112W,2012-08-14,288.4,Thermocouple,23
40,OBS_100TI-8112X,2012-08-14,285.8,Thermocouple,24
41,OBS_100TI-8112Y,2012-08-14,283.2,Thermocouple,25
42,OBS_100TI-8112Z,2012-08-14,280.6,Thermocouple,26
43,OBS_100TI-8112AA,2012-08-14,278.0,Thermocouple,27
44,OBS_100TI-8112AB,2012-08-14,275.4,Thermocouple,28
45,OBS_100TI-8112AC,2012-08-14,272.8,Thermocouple,29
46,OBS_100TI-8112C,2012-08-14,337.8,Thermocouple,3
47,OBS_100TI-8112AD,2012-08-14,270.2,Thermocouple,30
48,OBS_100TI-8112AE,2012-08-14,267.6,Thermocouple,31
49,OBS_100TI-8112AF,2012-08-14,265.0,Thermocouple,32

In [54]:
depthdf.INSTRUMENTATION_TYPE.unique()

array(['Piezometer', 'Thermocouple'], dtype=object)

In [36]:
depthdf[depthdf['INSTRUMENTATION_TYPE']=='Pressure']

,TAG_NAME,DEPTH_EFFECTIVE_DATE,MDKB_DEPTH,INSTRUMENTATION_TYPE,Point #
2439,OB221_PRESS_ERD_1A,2018-04-14,165.20,Pressure,NaN
2440,OB221_PRESS_ERD_1B,2018-04-14,257.00,Pressure,NaN
2441,OB221_PRESS_ERD_1C,2018-04-14,278.50,Pressure,NaN
2445,OB222_PRESS_PIZO_PT1,2018-03-14,263.65,Pressure,NaN
2447,OB223_PRESS_ERD_1A,2018-04-14,252.00,Pressure,NaN
2448,OB223_PRESS_ERD_1B,2018-04-14,236.00,Pressure,NaN
2451,OB225_PRESS_ERD_1A,2018-03-29,189.00,Pressure,NaN
2452,OB225_PRESS_ERD_1B,2018-03-29,282.00,Pressure,NaN
2453,OB225_PRESS_ERD_1C,2018-03-29,297.00,Pressure,NaN
2457,OB226_PRESS_PIZO_PT1,2018-03-14,271.24,Pressure,NaN

In [119]:
depthdf.drop(depthdf[depthdf.INSTRUMENTATION_TYPE == "Pressure"].index, inplace=True)

In [125]:
depthdf

,TAG_NAME,DEPTH_EFFECTIVE_DATE,MDKB_DEPTH,INSTRUMENTATION_TYPE,Point #
0,OBS_100-PI-80018B,2017-05-12,252.0,Piezometer,PiezP1
1,OBS_100-TI-80018B,2017-05-12,252.0,Piezometer,PiezT1
2,OBS_100-PI-80019B,2017-05-29,246.0,Piezometer,PiezP1
3,OBS_100-TI-80019B,2017-05-29,246.0,Piezometer,PiezT1
4,OBS_100PI-8121A,2012-09-21,334.0,Piezometer,PiezP1
...,...,...,...,...,...
8316,OB229_QW16_TEMP_2,2019-03-22,189.1,Piezometer,PiezT2
8333,OBS_100PI-8207A,2010-01-01,130.7,Piezometer,PiezP1
8334,OBS_100TI-8207A,2010-01-01,130.7,Piezometer,PiezT1
8351,OBS_100PI-8208A,2010-01-01,145.0,Piezometer,PiezP1
8352,OBS_100TI-8208A,2010-01-01,145.0,Piezometer,PiezT1

In [126]:
depthdf.to_csv('checks.csv')

In [132]:
depthdf.drop('Point #',axis=1, inplace = True)

KeyError: "['Point #'] not found in axis"

In [134]:
depthdf.drop_duplicates(inplace=True)

In [133]:
depthdf.dropna(subset='MDKB_DEPTH', inplace=True)

In [128]:
df

,TAG_NAME,DEPTH_EFFECTIVE_DATE,DEPTH_END_DATE,MDKB_DEPTH,TVDSS_DEPTH,INSTRUMENTATION_TYPE,CREATED_DATE
0,M750_P16PTI04900.TEMP,2001-01-01,None,490.0,None,DTS,2021-12-31 15:14:50.870
1,M750_P16PTI04910.TEMP,2001-01-01,None,491.0,None,DTS,2021-12-31 15:14:50.873
2,M750_P16PTI04920.TEMP,2001-01-01,None,492.0,None,DTS,2021-12-31 15:14:50.877
3,M750_P16PTI04930.TEMP,2001-01-01,None,493.0,None,DTS,2021-12-31 15:14:50.880
4,M750_P16PTI04940.TEMP,2001-01-01,None,494.0,None,DTS,2021-12-31 15:14:50.883
...,...,...,...,...,...,...,...
163787,P117_DTS_17P15_01325,2022-07-21,None,1325.0,None,DTS,2023-01-31 17:00:08.380
163788,P117_DTS_17P15_01320,2022-07-21,None,1320.0,None,DTS,2023-01-31 17:00:08.383
163789,P117_DTS_17P15_01315,2022-07-21,None,1315.0,None,DTS,2023-01-31 17:00:08.387
163790,P117_DTS_17P15_01310,2022-07-21,None,1310.0,None,DTS,2023-01-31 17:00:08.390
163791,P117_DTS_17P15_01305,2022-07-21,None,1305.0,None,DTS,2023-01-31 17:00:08.390

In [98]:
for i in range(0,len(depthdf)):

    cursor.execute(
    """
    INSERT INTO DBO.[TAG_DEPTH] (TAG_NAME, DEPTH_EFFECTIVE_DATE, MDKB_DEPTH, INSTRUMENTATION_TYPE) 
    VALUES (?,?,?,?) 
    """, \
    depthdf['TAG_NAME'].iloc[i], depthdf['DEPTH_EFFECTIVE_DATE'].iloc[i], depthdf['MDKB_DEPTH'].iloc[i], depthdf['INSTRUMENTATION_TYPE'].iloc[i]
    )

cursor.commit()

IntegrityError: ('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of UNIQUE KEY constraint 'uc_tduniq'. Cannot insert duplicate key in object 'dbo.TAG_DEPTH'. The duplicate key value is (OB230_TEMP_PIZO_PT1, Mar 18 2019 12:00AM, 334.81). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")

Checks

In [135]:
pd.to_numeric(depthdf['MDKB_DEPTH'], errors='coerce').isnull().any()

False

In [136]:
depthdf[depthdf['TAG_NAME']=='OB230_TEMP_PIZO_PT1']

,TAG_NAME,DEPTH_EFFECTIVE_DATE,MDKB_DEPTH,INSTRUMENTATION_TYPE
2652,OB230_TEMP_PIZO_PT1,2019-03-18,334.81,Piezometer

In [137]:
depths[depths['Tag Name']=='OB230_TEMP_PIZO_PT1']

,Well Name,Pad,Instrumentation Type,Point #,Tag Name,Formation,Depth (mKB),Subsea Depth (m)
2652,OB230,NaN,Temperature,PiezT1,OB230_TEMP_PIZO_PT1,LM3,334.81,-265.59
2659,OB230,NaN,Temperature,PIZO-PT1,OB230_TEMP_PIZO_PT1,LM2,334.81,-265.59

In [138]:
depthdf.loc[depthdf['TAG_NAME'].str.contains('PIZO', na=False, case=False)]

,TAG_NAME,DEPTH_EFFECTIVE_DATE,MDKB_DEPTH,INSTRUMENTATION_TYPE
548,OB116_PRESS_PIZO_PT1,2018-02-06,264.00,Piezometer
549,OB116_PRESS_PIZO_PT2,2018-02-06,276.00,Piezometer
574,OB116_TEMP_PIZO_PT1,2018-02-06,264.00,Piezometer
575,OB116_TEMP_PIZO_PT2,2018-02-06,276.00,Piezometer
576,OB117_PRESS_PIZO_PT1,2018-03-23,239.50,Piezometer
577,OB117_PRESS_PIZO_PT2,2018-03-23,275.00,Piezometer
602,OB117_TEMP_PIZO_PT1,2018-03-23,239.50,Piezometer
603,OB117_TEMP_PIZO_PT2,2018-03-23,275.00,Piezometer
2446,OB222_TEMP_PIZO_PT1,2018-03-14,263.65,Thermocouple
2458,OB226_TEMP_PIZO_PT1,2018-03-14,271.24,Thermocouple
2645,OB230_PRESS_PIZO_PT1,2019-03-18,334.81,Piezometer
2646,OB230_PRESS_PIZO_PT2,2019-03-18,327.80,Piezometer
2647,OB230_PRESS_PIZO_PT3,2019-03-18,320.71,Piezometer
2648,OB230_PRESS_PIZO_PT4,2019-03-18,313.22,Piezometer
2649,OB230_PRESS_PIZO_PT5,2019-03-18,307.16,Piezometer
2650,OB230_PRESS_PIZO_PT6,2019-03-18,300.41,Piezometer
2651,OB230_PRESS_PIZO_PT7,2019-03-18,283.27,Piezometer
2652,OB230_TEMP_PIZO_PT1,2019-03-18,334.81,Piezometer
2653,OB230_TEMP_PIZO_PT2,2019-03-18,327.80,Piezometer
2654,OB230_TEMP_PIZO_PT3,2019-03-18,320.71,Piezometer
2655,OB230_TEMP_PIZO_PT4,2019-03-18,313.22,Piezometer
2656,OB230_TEMP_PIZO_PT5,2019-03-18,307.16,Piezometer
2657,OB230_TEMP_PIZO_PT6,2019-03-18,300.41,Piezometer
2658,OB230_TEMP_PIZO_PT7,2019-03-18,283.27,Piezometer